* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*Navbar*/

.navbar {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.navbar h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/*Hero Section*/

.sec-one {
    display: flex;
    background-color: #1F2937;
    padding: 100px 50px;
    gap: 20px;
    justify-content: space-between;
}

.sec-one-text h1, .sec-one-text p {
    margin-bottom: 10px;
}

.hero-media {
    display: flex;
    align-items: center;
    background-color: gray;
    min-width: 500px;
    min-height: 250px;
    align-items: center;
    justify-content: center;

}

img {
    color: #E5E7EB;
}

.sec-one h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.sec-one p {
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    border-radius: 10px;
    padding: 5px 20px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/*Section 1*/

.sec-two, .sec-two h2, .sec-two ul {
    padding: 20px;
}

.sec-two h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.sec-two ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;

}

.info-img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sec-two li {
    width: 150px;
}